/* Default Layout	*/


/*	Extra small devices (portrait phones, less than 576px)	*/
@media (max-width: 575.98px) {
	
	.navbar .container{
		width:95%;
	}
	.carousel-control-next-icon{
		right:0px;
	}
	.carousel-control-prev-icon{
		left:0px;
	}
	.navbar-light .navbar-nav .nav-item{
		width:150px;
		margin:0px auto;
		border-bottom:1px solid #344EA3;
	}
	.navbar-light .navbar-nav .nav-item:last-child{
		border-bottom:none;
	}
	.navbar .navbar-nav .shopping-cart{
		margin-top:0px;
	}
	.slider{
		padding:120px 0px;
	}
	.slider h1{
		font-size:55px;
	}
	.slider h5{
		font-size:30px;
	}
	.about_us .top .content{
		margin-top:0px;
	}
	.about_us .bottom .content{
		margin-top:20px;
	}
	.explore_wholesafe{
		padding:50px 0px;
	}
	.explore_wholesafe h2{
		font-size:36px;
	}
	.explore_wholesafe h5{
		font-size:18px;
		margin:30px 0px;
	}
	.shop .container_inner .button{
		left:37%;
	}
	.delivered_to_door .content{
		margin-top:20px;
	}
	.gallery_image .col-sm-4{
		max-width:400px;
		margin:5px auto;
	}
	.gallery_image .button{
		padding:30px 0px;
	}
	.footer .top .short_links{
		text-align:center;
		margin-bottom:15px;
	}
	.footer .top .short_links ul li{
		float:none;
		display:inline-block;
	}
	.footer .top .email{
		text-align:center;
		margin-top:15px;
	}
	.footer .bottom .copyright{
		text-align:center;
	}
	.footer .bottom .designer{
		text-align:center;
	}
	
}

/*	Extra small devices (portrait phones, less than 360px)	*/
@media (max-width: 360px) {
	
	.navbar .logo{
		width:180px;
	}
	
}

/*	Extra small devices (portrait phones, less than 410px)	*/
@media (max-width: 409.98px) {
	
	.slider h1{
		font-size:50px;
	}
	
}

/*	Small devices (landscape phones, 576px and up)	*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
	.navbar .container{
		width:95%;
	}
	.navbar-light .navbar-nav .nav-item{
		width:150px;
		margin:0px auto;
		border-bottom:1px solid #344EA3;
	}
	.navbar-light .navbar-nav .nav-item:last-child{
		border-bottom:none;
	}
	.navbar .navbar-nav .shopping-cart{
		margin-top:0px;
	}
	.slider{
		padding:150px 0px;
	}
	.slider h1{
		font-size:65px;
	}
	.slider h5{
		font-size:36px;
	}
	.about_us .top .content{
		margin-top:0px;
	}
	.about_us .bottom .content{
		margin-top:20px;
	}
	.shop .container_inner .button{
		left:37%;
	}
	.delivered_to_door .content{
		margin-top:20px;
	}
	.gallery_image .button{
		padding:20px 0px;
	}
	.footer .top .short_links{
		text-align:center;
		margin-bottom:15px;
	}
	.footer .top .short_links ul li{
		float:none;
		display:inline-block;
	}
	.footer .top .email{
		text-align:center;
		margin-top:15px;
	}
	.footer .bottom .copyright p{
		font-size:12px;
	}
	
}


/*	Medium devices (tablets, 768px and up)	*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
	.navbar{
		padding:20px 0px;
	}
	.navbar .logo{
		width:180px;
	}
	.navbar-light .navbar-nav .nav-link{
		font-size:12px;
	}
	.navbar-light .navbar-nav .nav-item{
		margin:0px 4px;
	}
	.slider{
		padding:180px 0px;
	}
	.slider h1{
		font-size:75px;
	}
	.about_us .top .content{
		margin-top:0px;
	}
	.about_us .bottom .content{
		margin-top:0px;
	}
	.about_us .bottom .content p{
		font-size:18px;
	}
	.about_us .bottom .content h6{
		font-size:14px;
	}
	.shop .container_inner .button{
		left:40%;
	}
	.delivered_to_door .content{
		margin-top:0px;
	}
	.footer .top .email p{
		font-size:13px;
	}
	.gallery_image .button{
		padding:30px 0px;
	}
	
}

/*	Large devices (desktops, 992px and up)	*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
	
	
}

/*	Extra large devices (large desktops, 1200px and up)	*/
@media (min-width: 1200px) {
	
	
	
}